workdir
core/21-038*.doc
core/21-038*.err
core/21-038*.html
core/21-038*.pdf
core/21-038*.presentation.xml
core/21-038*.xml
core/21-038*.err.html
core/21-038*.asciidoc.log.txt
core/metanorma.asciidoc.log.txt
core/iev/
core/relaton/
.DS_Store
